Package: de.maxiwee.psychonautwiki
Name: psychonautwiki
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: maxiwee
Author: maxiwee
Section: Utilities
Depends: firmware (>= 12.2) | ${LIBSWIFT}
